body {
 background-color: #03fcf0;
}
.center{

	margin-left: auto;
	margin-right: auto;
}
h1 {
  font-weight: bold;
  text-align: center;  
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #fff;
  
}
h2 {
font-weight: bold;
  text-align: left;  
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: red;
}
figcaption {

  text-align: center;
}
img {
  
  display: block;
  width: 100px;
  height: 100px;

}